.left-head{
    font-size: 2.2vw;
    font-weight: 800!important;
}

.right-sign{
    width:28px;
    height:28px;
    border-radius: 50%;
    background-color: #4f178f;
    display: flex;
    align-items: center;
    justify-content: center;
}

.right-sign + span{
    font-size: 11px;
}

.link-input{
    height:30px;
}

.form-details input{
    border: none;
    outline: none;
    border-radius: 4px;
    width: 100%;
    padding: 10px;
    border: 2px solid #E2E3E9;
}

.form-details .btn-started{
    width: 100%;
    border: none;
    outline: none;
    /* background: #AE90E9; */
    background: #4f178f;
    border-radius: 5px;
    color: #fff;
    font-size: 12px;
    padding: 10px;
    
}

.terms_container .terms{
    font-size: 14px;
    opacity: .6;
    line-height: normal;
}

.terms_container .terms span{
    text-decoration: underline;
    cursor: pointer;
    margin-left: 5px;
}